@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;600;700&display=swap');
// Font Sizes
$XXL: 80px;
$XL: 60px;
$L: 40px;
$M: 30px;
$S: 18px;
$XS: 15px;

// Colors
$color1:rgb(240, 249, 251);
$color2: #1968AB;
$color3:  rgb(240, 249, 251);
