
.box {
     position:absolute;
     width: 100px;
     height: 100px;
   }
   #box1 {
     background-color: red;
   }
   #box2 {
     background-color: rgb(43, 55, 158);
   }
   #box3 {
     background-color: rgb(13, 104, 28);
   }
   #box4 {
     background-color: rgb(84, 172, 99);
   }
   #box5 {
     background-color: rgb(202, 113, 11);
   }
   #box6 {
     background-color: rgb(104, 13, 89);
   }
   #box7 {
     background-color: rgb(133, 62, 106);
   }
   #box8 {
     background-color: rgb(60, 151, 179);
   }
   