@import "./variables";

#container {
     font-family: "Caveat", cursive;
     display: flex;
     z-index: 2;
     flex-direction: column;
     align-items: center;
     position: absolute;
     left: calc((100% - 500px) / 2);
     top: 200px;
     width: 500px;
     height: auto;
     text-align: center;
     color: $color1;
     background-color: $color2;
     border-radius: 9px;

     h2 {
          margin: 0px;
          margin-top: 10px;
          padding: 0px;
          color: $color3;
          font-size: $L;
     }
     label {
          margin: 5px;
          padding: 0px;
          color: $color3;
          font-size: $M;
     }
     input {
          font-family: "Caveat", cursive;
          width: 80%;
          font-size: $M;
          margin: 0px;
          padding: 0px;
          margin-left: 5px;
          font-size: $M;
     }
     #error {
          color: $color3;
          margin: 10px;
     }
     #check {
          margin: 10px;
          font-size: $XL;
          transform: scale(2);
     }
     button {
          font-family: "Caveat", cursive;
          font-size: $M;
          width: 300px;
          margin: 5px;
          padding: 10px;
          border-radius: 9px;
          color: $color3;
          background-color: $color2;
          cursor: pointer;
     }
     button:hover {
          background-color: $color2;
     }
}

@media only screen and (max-width: 768px) {
     #container {
          margin-left: calc(20vw / 2);
          position: static;
          margin-top: 20px;
          width: 80%;
          height: auto;
          button {
               width: 80%;
          }
     }
}
