@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;600;700&display=swap");
#mainContainer {
  font-family: "Caveat", cursive;
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  flex-grow: 1;
  background-color: black; }
  #mainContainer #container {
    display: flex;
    flex-direction: column;
    position: relative;
    font-size: 40px;
    color: #1968AB;
    text-align: center;
    flex-grow: 1; }
    #mainContainer #container #pictureBack {
      display: flex;
      justify-content: center;
      position: relative;
      background-repeat: no-repeat;
      background-size: contain;
      background-position-x: 100%;
      z-index: 0;
      background-image: url("..//images/coctail-background.jpg");
      height: 720px;
      margin: 0px; }
      #mainContainer #container #pictureBack #left {
        width: 30%;
        display: flex;
        justify-content: center;
        align-items: center; }
        #mainContainer #container #pictureBack #left #picture {
          opacity: 1;
          border-radius: 50%;
          border: 15px solid #1968AB;
          width: 500px; }
      #mainContainer #container #pictureBack #right {
        width: 60%; }
        #mainContainer #container #pictureBack #right #details {
          margin-left: 100px;
          width: 320px;
          height: 720px;
          padding: 0px;
          color: #f0f9fb;
          background-repeat: no-repeat;
          background-size: contain;
          opacity: 0.8;
          background-image: url("..//images/bottle-background.png");
          transform: rotate(-20deg);
          border-radius: 50px;
          display: flex;
          align-items: center;
          flex-direction: column;
          overflow: hidden; }
          #mainContainer #container #pictureBack #right #details #coctailName {
            margin: 45px;
            height: 220px;
            display: flex;
            align-items: center; }
            #mainContainer #container #pictureBack #right #details #coctailName h2 {
              width: 220px;
              height: auto;
              font-size: 32px;
              text-shadow: 2px 2px black;
              transform: rotate(90deg); }
          #mainContainer #container #pictureBack #right #details ul {
            padding: 0px;
            margin: 0px;
            padding-top: 0px;
            font-size: 24px;
            width: 200px;
            list-style: none; }
            #mainContainer #container #pictureBack #right #details ul li {
              text-align: left;
              text-shadow: 1px 1px black;
              width: 200px;
              line-height: 23px; }
          #mainContainer #container #pictureBack #right #details p {
            box-sizing: border-box;
            text-align: justify;
            width: 300px;
            padding: 21px;
            margin: 0px;
            font-size: 24px;
            text-shadow: 1px 1px black;
            line-height: 23px; }
        #mainContainer #container #pictureBack #right #details:hover {
          transform: rotate(-35deg); }
  #mainContainer #coctailListContainer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap; }
    #mainContainer #coctailListContainer #coctailOfListedCoctails {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin: 10px;
      cursor: pointer; }
      #mainContainer #coctailListContainer #coctailOfListedCoctails #picture {
        opacity: 1;
        border-radius: 50%;
        border: 15px solid #1968AB;
        width: 300px; }
      #mainContainer #coctailListContainer #coctailOfListedCoctails #name {
        font-size: 30px;
        color: #f0f9fb; }
  #mainContainer #navigation {
    position: absolute;
    font-family: "Caveat", cursive;
    top: -100px;
    left: 0px;
    width: 100%;
    display: flex; }

@media only screen and (max-width: 600px) {
  #mainContainer #container {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 0px; }
    #mainContainer #container #picture {
      width: 100%; }
    #mainContainer #container #details {
      width: 100%;
      padding: 10px; } }

/*# sourceMappingURL=coctail.module.css.map */
